#heading{
    text-align: center;
    text-transform: uppercase;
    
}
#para{
    line-height: 100px;
    text-decoration:underline red ;
    text-decoration-style:wavy ;
    font-weight: 900;
    font-size: 10[px];
}
#para2{
    font-family: 'Times New Roman', Times, serif;
}
#anchor{
    text-decoration: none;
}